{% extends "base.html" %}

{% block breadcrumbs %}
{% with post.tags.all as tags %}
{% if tags %}
<ul class="tags-list">
    <li>Теги:</li>
    {% for t in tags %}
        <li><a href="{{ t.get_absolute_path }}">{{ t.tag }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock breadcrumbs %}

{% block content %}
<h1>{{ post.title }}</h1>

{% if post.photo %}
<p><img class="img-article-left" src="{{ post.photo.url }}"></p>
{% endif %}


{{ post.content|linebreaks }}

<a href=" {% url 'home' %}">Вернуться на главную</a>
{% endblock content %}